/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* You can add global styles to this file, and also import other style files */
body {
    background-color: #252525;
}
.form {
    background-color: #444444;
    width: 230px;
}
.centro{
    flex-direction: column; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 16px);

}
*{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #cbe957,
    0 10px 0 5px #cbe957,
    0 -2px 0 5px #cbe957,
    0 10px 35px 0 #cbe95788,
    0 0 35px 0 #cbe95788;
    justify-self: center;
}
.gay{
    position: relative;
    width: 70%;
    height: 5px;
    background-image: radial-gradient(#cbe957 0,#00000000 70%);
}
h1{
    margin-bottom: 0;
}
label{
    align-self: flex-start;
    position: relative;
    top: 5px;
    font-size: 15px;
}
.input {
    background-color: #5d5d5d;
    border-width: 0;
    border-radius: 4px;
    padding: 6px;
    outline: 0;
    width: calc(100% - 12px);
}
.input::placeholder{
    color: #444444;
}
.button{
    color: black;
    background-color: #cbe957;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 20px;
    margin: 10px 0;
}
.link{
    font-size: 12px;
}
.link a{
    color:#cbe957;
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
}
.logo{
    width: 280px;
    margin-bottom: 40px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

